@import "ui-variables";

.select-list.ide-haskell {
  .type, .dir {
    float: right;
    clear: right;
    color: @text-color-subtle;
  }
  .project {
    float: left;
    &::after {
      content: ":";
      margin-right: 1ex;
    }
  }
}

ide-haskell-param.ide-haskell--ide-haskell-cabal {
  &.ide-haskell-param--builder:before {
    font-family: 'icomoon';
    content: "\a0\e996\a0";
  }
  &.ide-haskell-param--target:before {
    font-family: 'icomoon';
    content: "\a0\e9b3\a0";
  }
}
