@import "ui-variables";

.select-list.ide-haskell {
  .type, .dir {
    float: right;
    clear: right;
    color: @text-color-subtle;
  }
  .project {
    float: left;
    &::after {
      content: ":";
      margin-right: 1ex;
    }
  }
}
